@model CrowdfundingPlatform.Models.Campaign

@{
    ViewData["Title"] = "Support campaign";
}

<h1 class="text-center">@Html.DisplayFor(model => model.Title)</h1>
<hr />
<h1 class="card-title pricing-card-title text-center">$@Html.DisplayFor(model => model.Available) <small class="text-muted">/ @Html.DisplayFor(model => model.Needed)</small></h1>

<div class="container text-center">
    <h4 class="jumbotron-heading">@Html.DisplayFor(model => model.Subject)</h4>
    <p class="lead text-muted">@Html.DisplayFor(model => model.Description)</p>
    <p>
        <a asp-controller="Donate" asp-action="Pay" class="btn btn-primary my-2">Support campaign</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary my-2">Back to Home</a>
    </p>
</div>
<hr />

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>30 users included</li>
                    <li>15 GB of storage</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
    @if (User.Identity.IsAuthenticated && User.Identity.Name == @Model.Owner.Email)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    else
    {

    }
</div>

